@model MovieView
@{
    ViewData["Title"] = "AddMovie";
}

<h1>Добавить фильм</h1>


<form asp-action="AddMovie" asp-controller="Manager">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div class="form-group">
            <label asp-for="Title">Введите название</label>
            <input type="text" asp-for="Title" />
            <span asp-validation-for="Title" />
        </div>
        <div class="form-group">
            <label asp-for="Director">Введите режиссера(ов)</label>
            <input type="text" asp-for="Director" />
            <span asp-validation-for="Director" />
        </div>
        <div class="form-group">
            <label asp-for="Year">Введите год выхода</label>
            <input type="number" asp-for="Year" />
            <span asp-validation-for="Year" />
        </div>
        <div class="form-group">
            <label asp-for="Description">Введите описание*</label>
            <input type="text" asp-for="Description" />
            <span asp-validation-for="Description" />
        </div>
        <div class="form-group">
            <label asp-for="Length">Введите длительность</label>
            <input type="text" asp-for="Length" />
            <span asp-validation-for="Length" />
        </div>
        <div style="margin: 15px 0; outline: 1px solid; width:150px; height:100px;">  
            <div style="overflow-y: auto; width:150px; height:100px;">
                @foreach (var g in Model.Countries)
                {
                    <div class="form-group">
                        <input type="checkbox" name="ChosenCountryIds" value="@g.Id"/> @g.Name <br>
                    </div>
                }
            </div>
        </div>
        <div style="margin: 15px 0; outline: 1px solid; width:150px; height:100px;">  
            <div style="overflow-y: auto; width:150px; height:100px;">
                @foreach (var g in Model.Genres)
                {
                    <div class="form-group">
                        <input type="checkbox" name="ChosenGenreIds" value="@g.Id"/> @g.Name <br>
                    </div>
                }
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Создать" class="btn btn-outline-dark" />
        </div>
    </div>
</form>
