@model dynamic

@{
    ViewData["Title"] = "Index";
}

<h1>Панель менеджера</h1>

<style>
    .btn-wrapper { 
        margin: 5px 0;
    }
</style>

<h4>@Model.City</h4>
<div>
    <div class="btn-wrapper">
        <a href="/Manager/AddMovie" class="btn btn-primary">Добавить фильм</a>
    </div>
    <div class="btn-wrapper">
        <a href="/Manager/AddSession" class="btn btn-primary">Добавить сеанс</a>
    </div>
    <div class="btn-wrapper">
        <a href="/Manager/Stats" class="btn btn-primary">Статистика продаж</a>
    </div>
    <div class="btn-wrapper">
        <a href="/Manager/Sessions" class="btn btn-primary">Список сеансов</a>
    </div>
</div>