@{
    ViewData["Title"] = "Index";
}

<h1>Managel control panel</h1>

<style>
    .btn-wrapper { 
        margin: 5px 0;
    }
</style>

<div>
    <div class="btn-wrapper">
        <a href="/Manager/AddMovie" class="btn btn-primary">Add Movie</a>
    </div>
    <div class="btn-wrapper">
        <a href="/Manager/AddSession" class="btn btn-primary">Add Session</a>
    </div>
</div>
