@model SessionListView
@{
    ViewData["Title"] = "SessionList";
}


<style>
    .asd{
      height: 75px;
      background: grey;
      border-radius: 8px;
    }

    .card-block {
        padding: 5px;
        cursor: pointer;
        text-decoration: none;
        color: black
    }
</style>

<h1>@Model.Movie.Title</h1>

@if (Model.Sessions.Count() != 0)
{
    <h3>Список сеансов на фильм "@Model.Movie.Title"</h3>
    <div class="text-center">
        <div class="row">
            @foreach (var s in Model.Sessions)
            {
                <a class="col-md-2 col-sm-6 card-block" asp-controller="Cinema" asp-action="Order" asp-route-sessionId="@s.Id">
                    <div class="asd">
                        @s.Date
                    </div>
                </a>
            }
        </div>
    </div>
}
else
{
    <h4>Сеансы на выбранный фильм отсутствуют</h4>
}